// $y-green: #4fc514;
// $y-grey: #dbeaff;
// $y-dark-grey: #878789;
// $y-black: #0e0f13;
.silder {
  margin: 1em 0em;
}
.donut-level {
  .donut {
    max-width: 3em;
  }
  .number {
    position: relative;
    text-align: center;
    top: -2em;
  }
}
.empty {
  text-align: center;
}

.pagination {
  display: block;
  text-align: center;
  margin: 1em 0em;
  .number {
    margin: 0em 0.2em;
    display: inline-block;
    vertical-align: middle;
    border: 0.1em $y-grey solid;
    padding: 0.5em;
    cursor: pointer;
  }
  .high-light {
    color: $y-green;
  }
}
