body {
  margin: 1em 10em;
  padding: 0;
  font-family: sans-serif;
  background: #0e0f13;
  color: #dbeaff; }

.logo-border {
  width: 8em;
  text-align: center;
  background: #4fc514;
  border-radius: 1em; }
  .logo-border .logo {
    width: 4em;
    padding: 1em; }

.card {
  display: block; }
  .card .grid {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1em; }

.padding-space {
  padding: 1em 2em; }
