$y-green: #4fc514;
$y-grey: #dbeaff;
$y-dark-grey: #878789;
$y-black: #0e0f13;

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: $y-black;
  color: $y-grey;
}

.logo {
  background: $y-green;
  width: 4em;
  padding: 1em;
  border-radius: 1em;
}
.card {
  display: block;
  .logo-part {
    display: inline-block;
  }
  .level-part {
    display: inline-block;
  }
  .detail-part {
    display: inline-block;
  }
  .settings {
    float: right;
  }
}

.donut-level {
  .donut {
    max-width: 3em;
  }
  .number {
    position: relative;
    top: -2em;
    right: -0.8em;
  }
}
