$y-green: #4fc514;
$y-grey: #dbeaff;
$y-dark-grey: #878789;
$y-black: #0e0f13;

body {
  margin: 1em 5em;
  padding: 0;
  font-family: sans-serif;
  background: $y-black;
  color: $y-grey;
}

.logo {
  background: $y-green;
  width: 4em;
  padding: 1em;
  border-radius: 1em;
}
.card {
  display: block;
  .grid {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1em;
  }
  .settings {
    float: right;
  }
}
.padding-space {
  padding: 1em 2em;
}
.donut-level {
  .donut {
    max-width: 3em;
  }
  .number {
    position: relative;
    text-align: center;
    top: -2em;
  }
}
