body {
  margin: 1em 10em;
  padding: 0;
  font-family: sans-serif;
  background: #0e0f13;
  color: #dbeaff; }

.logo-border {
  width: 8em;
  text-align: center;
  background: #4fc514;
  border-radius: 1em; }
  .logo-border .logo {
    width: 4em;
    padding: 1em; }

.card {
  display: block; }
  .card .grid {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1em; }
  .card .settings {
    float: right; }

.padding-space {
  padding: 1em 2em; }

.silder {
  margin: 1em 0em; }

.donut-level .donut {
  max-width: 3em; }

.donut-level .number {
  position: relative;
  text-align: center;
  top: -2em; }

.empty {
  text-align: center; }

@media screen and (max-width: 800px) {
  body {
    margin: 0.5em;
    /* The width is 100%, when the viewport is 800px or smaller */ }
  .silder {
    margin: 1em 1em; }
  .logo-border {
    margin-bottom: 1em; } }
