.silder {
  margin: 1em 0em; }

.donut-level .donut {
  max-width: 3em; }

.donut-level .number {
  position: relative;
  text-align: center;
  top: -2em; }

.empty {
  text-align: center; }

.pagination {
  display: block;
  text-align: center;
  margin: 1em 0em; }
  .pagination .number {
    margin: 0em 0.2em;
    display: inline-block;
    vertical-align: middle;
    border: 0.1em #dbeaff solid;
    padding: 0.5em;
    cursor: pointer; }
  .pagination .high-light {
    color: #4fc514; }
