.silder {
  margin: 1em 0em; }

.donut-level .donut {
  max-width: 3em; }

.donut-level .number {
  position: relative;
  text-align: center;
  top: -2em; }

.empty {
  text-align: center; }

.pagination {
  display: block; }
  .pagination .grid {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1em; }
